<mat-card>
  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-subtitle>Please enter your email address to request a password reset.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="fill">
      <input matInput type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
    </mat-form-field><br>

    <!-- Calling ForgotPassword from authenticationService Api -->
    <div class="formGroup">
      <button mat-raised-button color="warn" value="Reset Password"
        (click)="authenticationService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
    </div>
  </mat-card-content>

  <div class="redirectToLogin">
    <span>Go back to <button mat-button color="accent" routerLink="/login"> Log In</button>?</span>
  </div>
</mat-card>