.mat-card {
  height: auto;

  .mat-card-header {
    margin-bottom: 1em
  }

  .searchWrapper {
    padding: 1em
  }

  .pokemonWrapper {
    display: flex;
    flex-direction: column;

    .pageChangerWrapper {
      margin-right: 7em;
    }
  }
}