@import '/src/app/helpers/stylers/_colors.scss';
@import '/src/app/helpers/stylers/_vars.scss';


.mat-card {
    height: auto;

    .mat-card-header {
        @extend %cardHeadStyler;
    }

    .mat-card-content {
        @extend %pageAlignLeft;
    }

    .pokemonWrapper {
        display: flex;
        flex-direction: column;

        .pageChangerWrapper {
            margin-right: 7em;
        }
    }
}