<!-- <div class="pokemonWrapper" *ngIf="data">
  <mat-tab-group>
    <mat-tab label="Normal Front">
      <h1>{{data.name | titlecase}}</h1>
      <img src={{data.sprites.front_default}} alt="No Image Available"
        style="width:100%; max-height: 400px; object-fit: contain;">
    </mat-tab>

    <mat-tab label="Normal Back">
      <h1>{{data.name | titlecase}}</h1>
      <img src={{data.sprites.back_default}} alt="No Image Available"
        style="width:100%; max-height: 400px; object-fit: contain;">
    </mat-tab>

    <mat-tab label="Shiny Front">
      <h1>{{data.name | titlecase}} Shiny</h1>
      <img src={{data.sprites.front_shiny}} alt="No Shiny Available"
        style="width:100%; max-height: 400px; object-fit: contain;">
    </mat-tab>

    <mat-tab label="Shiny Back">
      <h1>{{data.name | titlecase}} Shiny</h1>
      <img src={{data.sprites.back_shiny}} alt="No Shiny Available"
        style="width:100%; max-height: 400px; object-fit: contain;">
    </mat-tab>

    <mat-tab label="Female Front">
      <h1>{{data.name | titlecase}} Female</h1>
      <img src={{data.sprites.front_female}} alt="No Female"
        style="width:100%; max-height: 400px; object-fit: contain;">
    </mat-tab>

    <mat-tab label="Female Back">
      <h1>{{data.name | titlecase}} Female</h1>
      <img src={{data.sprites.back_female}} alt="No Female" style="width:100%; max-height: 400px; object-fit: contain;">
    </mat-tab>

    <mat-tab label="Shiny Female Front">
      <h1>{{data.name | titlecase}} Shiny Female</h1>
      <img src={{data.sprites.front_shiny_female}} alt="No Female Shiny"
        style="width:100%; max-height: 400px; object-fit: contain;">
    </mat-tab>

    <mat-tab label="Shiny Female Back">
      <h1>{{data.name | titlecase}} Shiny Female</h1>
      <img src={{data.sprites.back_shiny_female}} alt="No Female Shiny"
        style="width:100%; max-height: 400px; object-fit: contain;">
    </mat-tab>
  </mat-tab-group> -->