@import '/src/app/helpers/stylers/_colors.scss';
@import '/src/app/helpers/stylers/_vars.scss';


.mat-card {
    .mat-card-header {
        @extend %cardHeadStyler;
    }

    .mat-card-content {
        @extend %pageAlignLeft;

        .homeHeader1 {
            max-width: 27em;
            background-color: $normal;
        }

        img {
            align-self: center;
            max-width: 400px;
        }

        .homeFooter {
            align-self: center;

            .pokemonCenterLink:link,
            .pokemonCenterLink:active {
                color: $fire;
            }

            .pokemonCenterLink:visited {
                color: $dragon;
            }

            .pokemonCenterLink:hover {
                color: $pokeblue;
            }
        }
    }
}