@import '/src/app/helpers/stylers/_colors.scss';
@import '/src/app/helpers/stylers/_vars.scss';


.mat-card {
    .mat-card-header {
        @extend %cardHeadStyler;
    }

    .mat-card-content {
        @extend %pageAlignLeft;

        .homeBannerWrapper {
            position: relative;
            max-height: 700px;
            overflow: hidden;

            .homeBannerTitleWrapper {
                position: absolute;
                width: 100%;

                .homeBannerTitle {
                    padding: 0.5em;
                    text-align: center;
                    font-size: 8vw;
                    color: $dad;
                    text-shadow: 0 0 10px $dark;
                }
            }

            .homeBannerImg {
                width: 100%;
            }

            .homeBannerTextbox {
                position: absolute;
                bottom: 20px;
                right: 20px;
                padding-left: 20px;
                padding-right: 20px;
                background-color: $normal;

                .pokemonCenterLink:link,
                .pokemonCenterLink:active {
                    color: $fire;
                }

                .pokemonCenterLink:visited {
                    color: $fighting;
                }

                .pokemonCenterLink:hover {
                    color: $pokeblue;
                }
            }
        }
    }

    .mat-card-footer {
        width: 100%;
        margin: 0;
        text-align: center;

        .footerIconsWrapper {
            padding: 0px 22vw;
            justify-content: space-evenly;
            display: flex;

            i {

                padding: 0;
                font-size: 32px;
            }

            a:link,
            a:active {
                color: $fire;
            }

            a:visited {
                color: $fighting;
            }

            a:hover {

                i {
                    transition: 0.5s ease-in-out;
                    font-size: 40px;
                    color: $pokeblue;
                }
            }
        }
    }
}