<mat-card>
  <mat-card-header>
    <app-navbar style="width: 100%;"></app-navbar>
  </mat-card-header>

  <mat-card-content>
    <h3 class="homeHeader1">
      <ul>
        <li>
          Find Pokémon and favorite them. Look through their stats and movesets to find the pokemon that suits you.
        </li>
        <li>
          Admire your favorited Pokémon in a list and look at their descriptions.
        </li>
      </ul>
    </h3>

    <img mat-card-image src="../../../assets/images/pokeball.png">

    <h4>
      Interested in purchasing Pokémon merchandise? Visit
      <a href="https://pokemoncenter.com/">The Official Pokémon Center</a>
      to buy official Pokémon products
    </h4>
  </mat-card-content>
</mat-card>