<mat-card>
  <mat-card-header>
    <mat-card-title>Thank You for Registering</mat-card-title>
    <mat-card-subtitle class="formGroup" *ngIf="authenticationService.userData as user">
      <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
      <p>Please check your email and click on the link to verfiy your email address.</p>
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Calling SendVerificationMail() method using authenticationService Api -->
  <mat-card-content>
    <button mat-stroked-button (click)="authenticationService.SendVerificationMail()">
      Resend Verification Email
    </button>
  </mat-card-content>

  <div class="redirectToLogin">
    <span>Go back to <button mat-button color="accent" routerLink="/login"> Log In</button>?</span>
  </div>

</mat-card>