// General Colors
$pokered: #fc0328;
$pokeblue: #036bfc;
$dad: #dadfea;

// Type Colors
$normal: #eeeeee;
$ghost: #ccbccc;

$fire: #fc3503;
$water: #0066e3;
$grass: #17e813;

$electric: #fcd41e;
$bug: #c2ed77;
$ice: #77d1ed;
$poison: #490278;
$flying: #669cff;

$rock: #8a6a43;
$ground: #f7ba6f;
$steel: #858585;

$fighting: #8a2d01;
$psychic: #f429f0;
$dark: #302f30;

$dragon: #384196;
$fairy: #faafe2;