<head>
  <div id="page-name-setter">Sign Up</div>
</head>

<mat-card>
  <mat-card-header>
    <app-navbar style="width: 100%;"></app-navbar>
  </mat-card-header>

  <div class="authBlock">

    <mat-form-field appearance="fill">
      <input matInput type="email" class="formControl" placeholder="Email Address" #userEmail required />
    </mat-form-field><br>

    <mat-form-field appearance="fill">
      <input matInput type="password" class="formControl" placeholder="Password" #userPwd required />
    </mat-form-field>


    <div class="formGroup">
      <button mat-raised-button color="warn" value="Sign Up"
        (click)="authenticationService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
    </div>

    <!-- | COME BACK LATER | -->
    <div class="formGroup">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Continue with Google -->
    <div class="formGroup">
      <button mat-raised-button color="warn" type="button" class="btn googleBtn"
        (click)="authenticationService.GoogleAuth()">
        <!-- | COME BACK LATER | -->
        <i class="fab fa-google-plus-g"></i>
        Continue with Google
      </button>
    </div>
  </div>

  <div class="redirectToLogin">
    <span>Already have an account?
      <button mat-button color="accent" routerLink="/login">Log In</button></span>
  </div>
</mat-card>